#container {
    display: flex;
    flex-direction: column;
}

.pushRight {
    margin-left: auto;
}

.xx-large {
    font-size: 2em;
}

.bordered {
    border-width: 1px;
    border-color: rgb(32, 66, 218);
    border-style: solid;
}

.dashed {
    border-style: dashed;
}

.section--padded {
    padding: 10px;
}

.passing {
    color: green;
}

.failing {
    color: orange;
}